* {
	box-sizing: border-box;
	margin:0;
	padding: 0;
	background-color: #1d2341;
	font-size: 24px;
}

li, a, button {
	font-weight: 500;
	
	color: white;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 30px 10px;
}

.logo {
	cursor: pointer;
	color: white;
	margin-right: auto;
	margin-left: 20px;
	font-family: 'Kanit', sans-serif;
}

.nav_links {
	list-style: none;
}

.nav_links li {
	display: inline-block;
	padding: 0px 30px;
}

.nav_links li a {
	transition: all 0.3s ease 0s;
	font-family: 'Kanit', sans-serif;
}

.nav_links li a:hover {
	color: #0088a9;
}

button {
	margin-left: 20px;
	padding: 9px 25px;
	background-color: rgba(0,136,169,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	font-family: 'Kanit', sans-serif;
}

button:hover {
	background-color: rgba(0,136,169,0.8);
}

img {
	max-width: 30%;
	max-height: 30%;
	
}

#certs {
	display: block;
	text-align: center;
	margin-top: 100px;
	margin-bottom: -100px;
}

.greet {
	color: white;
	font-family: 'Kanit', sans-serif;
	background-color: #24252a;
	width: 70%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	padding: 20px;
	border-radius: 20px;
}

.panel_2 {
	color: white;
	font-family: 'Kanit', sans-serif;
	
	width: 90%;
	height: auto;
	margin-left: 0;
	
	margin-top: 40px;
	padding: 20px;
	border-radius: 20px;
}

.panel_2 .post_title_2 {
	color: white;
	font-family: 'Kanit', sans-serif;
	font-size: 34px;
	font-weight: 400;
	text-align: center;
	background-color: #24252a;
	width: 50%;
	height: auto;
	margin-left: -20px;
	margin-top: 40px;
	padding: 10px;
	border-radius: 20px;
}

.panel_2 .post_title_2 .its {
	color: #34A65F;
	background-color: #24252a;
}

.panel_2 .post_title_2 .christmas {
	color: #CC231E;
	background-color: #24252a;
}
.panel_2 .post_title_2 .time {
	color: #34A65F;
	background-color: #24252a;
}

.panel_2 h2 {
	font-weight: 400;
	margin-top: -40px;
	width: 50%;
	margin-left: -20px;
} 

strong {
	color: white;
	font-family: 'Kanit', sans-serif;
	background-color: #24252a;
}

.post_title {
	color: white;
	background-color: #24252a;
	font-family: 'Kanit', sans-serif;
	font-size: 60px;
	font-weight: 500;
}

.post_foot {
	font-size: 14px;
	background-color: #24252a;
	margin-top: 30px;
	text-align: right;
	;
}

.photosite {
	color: #FFD300;
	background-color: #24252a;
	text-decoration: underline;
}

.photosite:hover {
	color: #FFD300;
	text-decoration: none;
	border: #FFD300 5px solid;
	border-radius: 10%;
}